.updatePassword-p {
  margin: 0;
  font-size: 1.6em;
  color: rgb(117 117 117);
  text-align: left;
}

.updatePassword-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.updatePassword-form div label {
  font-weight: bold;
}

.updatePassword-form div p {
  margin: 0;
  color: rgb(117 117 117);
  font-size: 0.9em;
}

.updatePassword-form button {
  margin: 4em 0 0 0;
  align-self: flex-end;
}
