<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/signUpForm.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="form-div">
      <h1>Login</h1>
      <form action="/user/login" method="POST">
        <label for="username">Username</label>
        <input
          placeholder="Type your username"
          type="text"
          id="username"
          name="username"
          required
        />
        <label for="password">Password</label>
        <input
          placeholder="Type your password"
          type="password"
          name="password"
          id="password"
          required
        />
        <button type="submit">Submit</button>
      </form>
      <p>Not a member?</p>
      <a href="/">SIGN UP</a>
    </div>
  </body>
</html>
